<p>
  <strong>TASK:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>DESCRIPTION:</strong>
  <%= @article.text %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
